<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Login Example </title>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
</head>
<body>
<form action="/login" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div style="display: flex;">
        <input type="text" name="captcha" placeholder="captcha"/>
        <img src="/captcha.jpg" alt="captcha" height="50px" width="150px" style="margin-left:20px;"/>
    </div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>